/* printer friendly */
@page 
{
    size: auto;  
    margin: 0; 
}
/* header 1 */
h1 
{
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 5px;
}
/* header 2 */
h2 
{
    text-align: center;
    background-color: lightgrey;
    border-bottom-style: solid;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 5px;
}
/* header 3 */
h3 
{
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* header 4 */
h4 
{
    display: inline;
}
/* header 5 */
h5 
{
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* paragraph */
p  {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* list */
ul {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}